spring:
  application:
    name:
      devcord-backend

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USER_NAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 2MB

logging:
  level:
    com.junwoo.devcordbackend: info
    org.hibernate.sql: info
    org.springframework.security: trace

springdoc:
  packages-to-scan: com.junwoo.devcordbackend
  paths-to-match: /**
  override-with-generic-response: false

jwt:
  secret: ${JWT_SECRET}
#  access-token-validity: 60000
  access-token-validity: 1800000
  refresh-token-validity: 604800000

cors:
  allowed-origins: ${FRONTEND_ORIGIN}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET}